<!DOCTYPE html>
<html>
<head>
    <title>Signup Page </title>
</head>
<body>
<form th:action="@{/signup}" method="post">
    <div><label> Email : <input type="email" name="email"/> </label></div>
    <div><label> Name : <input type="text" name="name"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br>
    <div>
        <input type="submit" value="Register"/>
        <span>or</span>
        <a href="/login">Have an Account!</a>
    </div>

</form>
</body>
</html>